In [1]:
import pandas as pd

In [3]:
file_path = '../data/cleaned/'

talent_df = pd.read_csv(file_path+'cleaned_talent_df.csv')
monster_df = pd.read_csv(file_path+'cleaned_monster_df.csv')
naukri_df = pd.read_csv(file_path+'cleaned_naukri_df.csv')
linkedln_df = pd.read_csv(file_path+'cleaned_linkedln_df.csv')

In [5]:
linkedln_df.head(2)

,Job Title,Company Name,Experience (In Years),Experience Category,Industry,City,State,Country,Source
0,Front-end Engineer/Web Developer (SDE 1 &amp; 2),BOX8,0.0,Entry,Web Development,Bengaluru,Karnataka,India,LinkedLn
1,Android Developer-SDE 1 &amp; 2(Software Devel...,BOX8,0.0,Entry,Software Development,Bengaluru,Karnataka,India,LinkedLn

In [6]:
import pandas as pd
import glob
import os

def merge_csv_files(directory, output_filename="merged_file.csv"):
    """Merges all CSV files in a directory into a single CSV file.

    Args:
        directory (str): The path to the directory containing the CSV files.
        output_filename (str, optional): The name of the output CSV file. 
                                         Defaults to "merged_file.csv".
    """
    all_filenames = glob.glob(os.path.join(directory, "*.csv"))
    all_df = []
    for f in all_filenames:
        df = pd.read_csv(f)
        all_df.append(df)
    merged_df = pd.concat(all_df, ignore_index=True)
    merged_df.to_csv(output_filename, index=False)
    print(f"Successfully merged {len(all_filenames)} CSV files into '{output_filename}'")

# Example Usage:
directory_path = '../data/cleaned/' # Replace with the actual path
merge_csv_files(directory_path) # Merges all CSV files in the directory

# You can also specify a custom output filename:
# merge_csv_files(directory_path, "combined_data.csv")

Successfully merged 4 CSV files into 'merged_file.csv'